{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 content-scroll" data-spy="scroll" data-target="#components-nav" data-offset="0">
  <!--h1 class="mt-5">{{ this.title }}</h1-->

  {{ this.body }}
  <div class="row">
    <div class="col-12">
      <div class="page-header mb-4 mt-5">
        <h3>About</h3>
        <p class="text-muted">We are making Tor usable for everyone.</p>
      </div>
      <p>The visual identity of software is an integral part of its user experience. Correctly using a consistent and attractive style is important to The Tor Project because <mark> it helps users build trust in the work we do.</mark>
      We hope that this guide will help you create materials and answer potential questions you might have about the use of the Tor “brand”.
      That said, there is a reason we call this a style guide and not a set of style rules. We expect there to be situations that this guide does not cover, or where you find yourself needing needing to stretch the standards a bit.
      </p>
      <p class="text-black small text-muted">Contact</p>
      <p class="purple">
      Please reach out to the UX team when you encounter such cases. We will work with you to help you find a solution for your design problem that is consistent with the guide. Your feedback will also help us expand and refine the guide to help it better meet the Tor Community’s needs.
      For any questions and inquiries you might have related to this styleguide, we encourage you to reach out to the UX team. We will try to help you find good answers!
      </p>
      <p class="text-black small text-muted">Conventions</p>
      <p class="text-muted">
      This guide aims to show by doing. The main body of each page contains examples of graphic elements that are (and, in some cases, are not) confor- mant with the style being described. The column on the le  specifies the details of each style and o ers guidance on when and how to use it.
      </p>
      <p class="text-black small text-muted">License</p>
      <p class="text-muted">
      The content of this guide is Copyright The Tor Project, Inc. Reproduction of content is permitted under a Creative Commons Attribution 3.0 United States License. All use under such license must be accompanied by a clear and prominent attribution that identifies The Tor Project, Inc. as the owner and originator of such content. The Tor Project Inc. reserves the right to change licenses and permissions at any time in its sole discretion.
      For more information about the Tor registered trademark and how it can be used, please see:
      <span class="">https://www.torproject.org/docs/trademark-faq.html.en</span>
      </p>
      <div>
        <p class="m-0">Tor UX Team</p>
        <button class="btn btn-link p-0">ux@lists.torproject.org</button>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}


</main>
{% endblock %}
