{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<nav id="components-nav" class="nav flex-column d-none d-xl-block col-xl-2 bd-toc">
  <ul class="nav nav-pills flex-column sticky-top">
    {% for id, item in bag('components').items() %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.path }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" data-spy="scroll" data-target="#components-nav" data-offset="0">
  <h1>{{ this.title }}</h1>

  {{ this.body }}
  <h1 id="buttons"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Buttons</h3>
    <p class="text-muted">Some Description about buttons.</p>
  </div>
  <div class="row bg-light p-5 col-sm-4">
    <div class="col-sm-4 p-1">
      <button type="button" class="btn btn-lg btn-default mr-2">Default</button>
      <button type="button" class="btn btn-lg btn-primary mr-2">Primary</button>
      <button type="button" class="btn btn-lg btn-link mr-2">Link</button>
    </div>
    <div class="col-sm-4 p-1">
      <button type="button" class="btn btn-default mr-2">Default</button>
      <button type="button" class="btn btn-primary mr-2">Primary</button>
      <button type="button" class="btn btn-link mr-2">Link</button>
    </div>
    <div class="col-sm-4 p-1">
      <button type="button" class="btn btn-sm btn-default mr-2">Default</button>
      <button type="button" class="btn btn-sm btn-primary mr-2">Primary</button>
      <button type="button" class="btn btn-sm btn-link mr-2">Link</button>
    </div>
  </div>
  
  <h1 id="forms"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Forms</h3>
    <p class="text-muted">Some Description about Forms.</p>
  </div>
  <div class="row">
    <form class="bg-light p-5 col-sm-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <h1 id="badges"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Badges</h3>
    <p class="text-muted">Some Description about badges.</p>
  </div>
  <div class="p-5 bg-light">
    <h2>Example heading <span class="badge badge-primary">New</span></h2>
    <h4>Example heading <span class="badge badge-secondary">New</span></h4>
    <h6>Example heading <span class="badge-pill badge-primary">New</span></h6>
  </div>

  <div class="page-header mb-4 mt-5">
    <h3 id="tables">Tables</h3>
    <p class="text-muted">Some Description about tables.</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
	    <th>#</th>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
	    <td>1</td>
	    <td>Mark</td>
	    <td>Otto</td>
	    <td>@mdo</td>
          </tr>
          <tr>
	    <td>2</td>
	    <td>Jacob</td>
	    <td>Thornton</td>
	    <td>@fat</td>
          </tr>
          <tr>
	    <td>3</td>
	    <td>Larry</td>
	    <td>the Bird</td>
	    <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
	    <th>#</th>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
	    <td>1</td>
	    <td>Mark</td>
	    <td>Otto</td>
	    <td>@mdo</td>
          </tr>
          <tr>
	    <td>2</td>
	    <td>Jacob</td>
	    <td>Thornton</td>
	    <td>@fat</td>
          </tr>
          <tr>
	    <td>3</td>
	    <td>Larry</td>
	    <td>the Bird</td>
	    <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h1 id="cards"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Cards</h3>
    <p class="text-muted">Some Description about cards.</p>
  </div>
  <div class="row bg-light p-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="/static/images/index.svg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>


  <h1 id="pagination"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Pagination</h3>
    <p class="text-muted">Some Description about pagination.</p>
  </div>
  <div class="bg-light p-5">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <span class="page-link">
	    2
	    <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="page-header mb-4 mt-5">
    <h3 id="alerts">Alerts</h3>
    <p class="text-muted">Some Description about alerts.</p>
  </div>
  <div class="p-5 bg-light">
    <div class="alert alert-primary" role="alert">
      This is a primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
      This is a secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
      This is a success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
      This is a danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
      This is a warning alert—check it out!
    </div>
  </div>

  <h1 id="scrollspy"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Scrollspy</h3>
    <p class="text-muted">Some Description about scrollspy.</p>
  </div>
  <div class="p-5 bg-light">
    <div class="bd-example">
      <div class="row">
	<div class="col-4">
	  <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action active" href="#list-item-1">Item 1</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
	  </div>
	</div>
	<div class="col-8">
	  <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <h4 id="list-item-1" style="">Item 1</h4>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
            <h4 id="list-item-2" style="">Item 2</h4>
            <p>Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla tempor. Laborum consequat non elit enim exercitation cillum aliqua consequat id aliqua. Esse ex consectetur mollit voluptate est in duis laboris ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem aliqua quis ullamco deserunt sit enim elit aliqua esse irure. Laborum nisi sit est tempor laborum mollit labore officia laborum excepteur commodo non commodo dolor excepteur commodo. Ipsum fugiat ex est consectetur ipsum commodo tempor sunt in proident.</p>
            <h4 id="list-item-3" style="">Item 3</h4>
            <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
            <h4 id="list-item-4" style="">Item 4</h4>
            <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
	  </div>
	</div>
      </div>
    </div>
  </div>

  
  {% include 'footer.html' %}

  
</main>
{% endblock %}
