{% from "macros/links.html" import get_link %}
<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/css/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/css/eoy.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}" rel="stylesheet">
<title>{% block title %} | Tor Styleguide | The Tor Project {% endblock %}</title>
  <body class="no-gutters">
    <header>
      {% include 'navbar-min.html' %}
    </header>
    <div class="page">
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">

          <nav id="sidenav-topics" class="border bg-white p-4 sticky-top">
             <ul class="nav bd-toc flex-column">
                {% for id, item in bag('sidebar').items() %}
               <li{% if this.is_child_of(item.path) %} class="nav-item active" {% else %} class="nav-item"{% endif %}>
                <a class="nav-link p-1 pr-4" href="{{ item.path|url }}">{{ item.label }}</a>
              </li>
                {% endfor %}
             </ul>
           </nav>

           {% block body %}{% endblock %}

        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
