{% from "macros/links.html" import get_link %}
<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/css/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}" rel="stylesheet">
<title>{% block title %} | Tor Styleguide | The Tor Project {% endblock %}</title>
  <body class="no-gutters">
    <header>
      {% include 'navbar.html' %}
    </header>
    <div class="page">
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">
          {% include 'sidenav.html' %}
          <div class="row col-sm-12 col-xs-12 ml-sm-auto col-md-9 col-lg-9 mx-auto m-5">
            {% block body %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      {% include 'footer.html' %}
    </footer>
  </body>
</html>
