{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<nav id="visuals-nav" class="nav flex-column d-none d-xl-block col-xl-1 bd-toc border">
  <ul class="nav nav-pills flex-column sticky-top">
    {% for id, item in bag('visuals').items() %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.path }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 content-scroll" data-spy="scroll" data-target="#visuals-nav" data-offset="0">
  <h1 class="mt-5">{{ this.title }}</h1>

  {{ this.body }}

  <h1 id="colors"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Colors</h3>
    <p class="text-muted">Some Description</p>
  </div>
  <div class="row">
      <div class="col-4">
          <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-primary text-white small">#7D4698</div>
          <h6 class="pt-3 text-left">Purple</h6>
      </div>
      <div class="col-4">
          <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-dark text-white small">#27AE60</div>
          <h6 class="pt-3 text-left">Dark Purple</h6>
      </div>
      <div class="col-4">
          <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-success text-white small">#2980B9</div>
          <h6 class="pt-3 text-left">Green</h6>
      </div>
      <div class="col-4">
          <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-light text-black small">#F8F9FA</div>
          <h6 class="pt-3 text-left">Grey</h6>
      </div>
      <div class="col-4">
          <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-secondary text-white small">#2C3E50</div>
          <h6 class="pt-3 text-left">Dark Grey</h6>
      </div>
      <div class="col-4">
          <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-white text-black small border">#FFFFFF</div>
          <h6 class="pt-3 text-left">White</h6>
      </div>
  </div>

  <h1 id="grid"></h1>
  <div class="page-header mb-4 mt-5">
    <h3>Grid</h3>
    <p class="text-muted">Some Description about grids</p>
  </div>
  <div class="container bg-light p-5">
      <div class="row mb-1">
        <div class="col-12">
          <p class="bg-primary p-3 text-white small">
             12
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-4">
          <p class="bg-primary p-3 text-white small">
             4
          </p>
        </div>
        <div class="col-8">
          <p class="bg-primary p-3 text-white small">
             8
          </p>
      </div>
      </div>
      <div class="row mb-1">
        <div class="col-3">
          <p class="bg-primary p-3 text-white small">
             3
          </p>
        </div>
        <div class="col-9">
          <p class="bg-primary p-3 text-white small">
             9
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-2">
          <p class="bg-primary p-3 text-white small">
             2
          </p>
        </div>
        <div class="col-2">
          <p class="bg-primary p-3 text-white small">
             2
          </p>
        </div>
        <div class="col-2">
          <p class="bg-primary p-3 text-white small">
             2
          </p>
        </div>
        <div class="col-2">
          <p class="bg-primary p-3 text-white small">
             2
          </p>
        </div>
        <div class="col-2">
          <p class="bg-primary p-3 text-white small">
             2
          </p>
        </div>
        <div class="col-2">
          <p class="bg-primary p-3 text-white small">
             2
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-3">
          <p class="bg-primary p-3 text-white small">
             3
          </p>
        </div>
        <div class="col-3">
          <p class="bg-primary p-3 text-white small">
             3
          </p>
        </div>
        <div class="col-3">
          <p class="bg-primary p-3 text-white small">
             3
          </p>
        </div>
        <div class="col-3">
          <p class="bg-primary p-3 text-white small">
             3
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-4">
          <p class="bg-primary p-3 text-white small">
             4
          </p>
        </div>
        <div class="col-4">
          <p class="bg-primary p-3 text-white small">
             4
          </p>
        </div>
        <div class="col-4">
          <p class="bg-primary p-3 text-white small">
             4
          </p>
        </div>
      </div>
      <div class="row mb-1">
          <div class="col-6">
            <p class="bg-primary p-3 text-white small">
               6
            </p>
          </div>
          <div class="col-6">
            <p class="bg-primary p-3 text-white small">
               6
            </p>
          </div>
      </div>
      <div class="row mb-1">
        <div class="col-8 offset-2">
          <p class="bg-primary p-3 text-white small">
             8
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-6 offset-3">
          <p class="bg-primary p-3 text-white small">
             6
          </p>
        </div>
      </div>
    </div>

  <h1 id="typography"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Typography</h3>
    <p class="text-muted">Some Description about headings and body text.</p>
  </div>
  <div class="row">
       <div class="col-12">
         <p class="text-black small text-muted">H1</p>
         <h1>Privacy is a right, not a privilege</h1>
         <p class="text-black small text-muted">H2</p>
         <h2>Privacy is a right, not a privilege.</h2>
         <p class="text-black small text-muted">H3</p>
         <h3>Privacy is a right, not a privilege</h3>
         <p class="text-black small text-muted">H4</p>
         <h4>Privacy is a right, not a privilege</h4>
         <p class="text-black small text-muted">H5</p>
         <h5>Privacy is a right, not a privilege</h5>
         <p class="text-black small text-muted">H6</p>
         <h6>Privacy is a right, not a privilege</h6>

         <p class="text-black small pt-5 text-muted">H1 display</p>
         <h1 class="display-1">Why Anonymity Matters</h1>
         <p class="text-black small text-muted">H2 display</p>
         <h1 class="display-2">Why Anonymity Matters</h1>
         <p class="text-black small text-muted">H3 display</p>
         <h1 class="display-3">Why Anonymity Matters</h1>
         <p class="text-black small text-muted">H4 display</p>
         <h1 class="display-4">Why Anonymity Matters</h1>
       </div>
     </div>
     <div class="row">
       <div class="col-12 pt-5">
         <p class="text-black small text-muted">Paragraph</p>
       </div>
       <div class="col">
         <p class="text-black small text-muted">SANS</p>
         <p>
           Privacy experts warn that law enforcement, intelligence services, and malicious hackers run their own exit nodes for exactly that surveillance purpose. It's critical, then, <mark>for Tor users to only visit HTTPS-protected websites</mark> to ensure that the information that passes between the browser and the site remains encrypted.
         </p>
       </div>
       <div class="col">
         <p class="text-black small text-muted">SERIF</p>
         <p class="font-family-serif">
           The Tor network is a group of volunteer-operated servers that allows people to improve their privacy and security on the Internet. Tor's users employ <a href="#">this network</a> by connecting through a series of virtual tunnels rather than making a direct connection, thus allowing both organizations and individuals to share information over public networks without compromising their privacy.
         </p>
         </div>
         <div class="col">
           <p class="text-black small text-muted text-right">ARABIC</p>
           <p class="text-right">
         شبكة تور هي مجموعة من الخوادم التي يديرها المتطوعون والتي تسمح للناس بتحسين خصوصيتهم وأمنهم على الإنترنت. يستخدم مستخدمو تور هذه الشبكة من خلال الاتصال من خلال سلسلة من الأنفاق الافتراضية بدلا من إجراء اتصال مباشر، مما يسمح للمنظمات والأفراد على حد سواء لتبادل المعلومات عبر الشبكات العامة دون المساس بخصوصيتهم. وعلى نفس المنوال، يعتبر تور أداة فعالة للرقابة على الرقابة، مما يسمح للمستخدمين بالوصول إلى وجهات أو محتويات محجوبة. يمكن أيضا استخدام تور كبنة بناء لمطوري البرمجيات لإنشاء أدوات اتصال جديدة مع ميزات خصوصية مضمنة.
           </p>
         </div>
     </div>


  <h1 id="assets"> </h1>
  <div class="page-header mb-4 mt-5">
    <h3>Identity Assets</h3>
    <p class="text-muted">Some Description</p>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="image border p-5">
        <img src="/static/images/color.svg">
      </div>
      <h6 class="text-left pt-3">Default</h6>
    </div>
    <div class="col-3">
      <div class="image border p-5">
        <img src="/static/images/purple.svg">
      </div>
      <h6 class="text-left pt-3">Purple</h6>
    </div>
    <div class="col-3">
      <div class="image border p-5">
        <img src="/static/images/black.svg">
      </div>
      <h6 class="text-left pt-3">Black</h6>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3">
      <div class="image border bg-primary p-5">
        <img src="/static/images/white.svg">
      </div>
      <h6 class="text-left pt-3">Invert</h6>
    </div>
    <div class="col-3">
      <div class="image border bg-dark p-5">
        <img src="/static/images/white.svg">
      </div>
      <h6 class="text-left pt-3">Dark</h6>
    </div>
    <div class="col-6">
      <div class="border p-5 text-left">
        <h6>Download Tor Logo Assets</h6>
        <p>This package includes .png and .svg files</p>
      </div>
    </div>
  </div>

{% include 'footer.html' %}

</main>
{% endblock %}
